.env
__pycache__/
*.pyc
*.pyo
.DS_Store
venv/
.venv/
*.egg-info/
dist/
build/
workoutfitness-video/ 
workoutfitness-video.zip 
*.zip 
*.MOV 
*.mp4 
workoutfitness-video/ 
workoutfitness-video.zip 
*.zip 
*.MOV 
*.mp4 
*.mov 
*.avi 
